body {
	background-color: #232323;
}

.square {;
	width: 30%;
	background-color: purple;
	padding-bottom: 30%; /*sets the height of the squares*/
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0 auto;
	width: 45%;
}

h1 {
	color: white;
}

span {
	color: white;
}
